.photo-comment-section {
  display:flex;
  flex-direction: column;
  height:100%;
  margin-bottom:0;
  padding-bottom: 0;
}

.photo-comment-index {
  display: flex;
  flex-direction: column;
  height:372px;
  overflow: scroll;
  font-size: 15px;
  padding-bottom: 10px;
}

.photo-comment-form {

  display:flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  height: 24px;
  padding-left: 0;
  margin-top: 19px;
  margin-bottom:0;
  padding-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #b5b5b5;
}

.comments-here {
  height: 69%
}

.comment-input {
  font-size: 15px;
  background: 0 0;
  border: none;
  color: #262626;
  outline: none;
  width: 100%;
}

.like-heart {
  font-size: 20px;
  color: white;
  -webkit-text-stroke: 1px #b5b5b5;
  margin-right: 10px;
  cursor: pointer;
}

.like-heart-red {
  font-size: 20px;
  color: red;
  -webkit-text-stroke: 1px red;
  margin-right: 10px;
  cursor: pointer;
}

.photo-comment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.profile-comment-username {
  margin-right: 10px;
  margin-bottom: 0;
  font-weight: bold;
}
.comment-here {
  flex-wrap: wrap;
}

.remove-comment-button {
  border: none;
  background: none;
  font-weight: 600;
  color: #b5b5b5;
  cursor: pointer;
  font-size: 14px;
}
