  nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.nav-bar {
  width: 1025px;
}

.nav-logo {
  float:left;
  height:45px;
  margin: 14px;
  cursor: pointer;
}


.nav-buttons {
  float:right;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 150px;
  height: 50px;
  list-style-type: none;
  cursor: pointer;
}

.profile-nav, .upload-nav, .logout-button {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-top: 17px;
  color: #b5b5b5;
  font-size: 35px;
}

.upload-modal {

  background-color: white;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:45px;
}

.upload-modal-overlay {
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8)
}
.upload-form {
  margin:0;
}
.photo-upload-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
  border: 1px solid #b5b5b5;
  border-radius: 3px;


}
.cloud-upload {
  display:flex;
  flex-direction: column;
  margin:20px;
}

.preview-label {
  font-family:sans-serif;
  font-size: 15px;
  text-align:center;
}

.dropzone {
  width: 300px;
  height: 40px;
  border: 1px #b5b5b5 dashed;
}

.dropzone-instructions {
  color: #b5b5b5;
  font: 12px system-ui;
}
.photo-upload-preview {
  width: 300px;
  height: auto;
}

.upload-header {
  font: 30px system-ui;
  font-weight:bold;
  color: #3897f0;
}


.upload-description {
  display:flex;
  flex-direction: column;
  margin: 20px;
}

.upload-inputs {
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
}
.upload-inputs-text {
  width:280px;
  height:180px;
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  margin-bottom: 10px;
}

.photo-upload-submit {
  cursor:pointer;
  padding: 0, 8px;
  background-color: #3897f0;
  border: 0 solid;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px 0px;
}

.main-feed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.feed-photo {
  margin: 60px 0;
  border: 1px solid #dbdbdb;
}
.feed-photo-img {
  width: 600px;
  height: auto;
}

.feed-index {
  list-style-type: none;
}

.inside-feed-index {
  display: flex;
  flex-direction: column;

}
.feed-poster-info {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  align-items: center;
}

.feed-poster-info-username {
  margin-left: 10px;
}


.feed-profile-photo {
  border-radius: 50%;
  width:40px;
  height: 100%;
  cursor: pointer;
}

.feed-photo-age {
  margin-left: 250px;
  color: #b5b5b5;
}

.feed-photo-info {
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 0;
  display:flex;
  flex-direction: row;
  font-weight:600;
}

.feed-like-count {
  margin-right: 10px;
}

.feed-caption {
  padding: 10px 25px;
}

.feed-comment-section {
  height: 130px;
}

.heart-animation-off {
  position: relative;
  font-size: 86px;
  color: white;
  left: 254px;
  bottom: 430px;
  opacity: 0;
}

.not-following {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.feed-comment-index {
  height: 58%;
  padding: 0 25px;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  font-size: 15px;
  padding-bottom: 10px;

}
.feed-comment-form {
    display:flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom:0;
    margin: 0 25px;
    padding-top: 10px;

    border-top: 1px solid #b5b5b5;
}
