nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.nav-bar {
  width: 1025px;
}

.nav-logo {
  float:left;
  height:45px;
  margin: 14px;
}
.nav-buttons {
  float:right;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 150px;
  height: 50px;
  margin: 5px;
  list-style-type: none;
}

.profile-nav, .upload-nav {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 5px;
}

.upload-modal {

  background-color: white;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:45px;
}

.upload-modal-overlay {
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8)
}
.upload-form {
  margin:0;
}
.photo-upload-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
  border: 1px solid #b5b5b5;
  border-radius: 3px;


}
.cloud-upload {
  display:flex;
  flex-direction: column;
  margin:20px;
}

.preview-label {
  font-family:sans-serif;
  font-size: 15px;
  text-align:center;
}

.dropzone {
  width: 300px;
  height: 40px;
  border: 1px #b5b5b5 dashed;
}

.dropzone-instructions {
  color: #b5b5b5;
  font: 12px system-ui;
}
.photo-upload-preview {
  width: 300px;
  height: auto;
}

.upload-header {
  font: 30px system-ui;
  font-weight:bold;
  color: #3897f0;
}


.upload-description {
  display:flex;
  flex-direction: column;
  margin: 20px;
}

.upload-inputs {
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
}
.upload-inputs-text {
  width:280px;
  height:180px;
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  margin-bottom: 10px;
}

.photo-upload-submit {
  cursor:pointer;
  padding: 0, 8px;
  background-color: #3897f0;
  border: 0 solid;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px 0px;
}
