.photo {
  width: 600px;
  height: 100%;
}


.profile-photo {
  border-radius: 50%;
  width:40px;
  height: 40px;
  cursor: pointer;
}

.inside-profile-modal {
  display:flex;
  flex-direction: row;
}


.modal-exit {
  position:fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight:600;
  color: white;
  font-size: 40px;
}

.modal-exit:hover {
  background-color: rgba(0,0,0,0.9)
}

.photo-stuff {
  padding: 20px;
  width: 300px;
}
.photo-caption {
  width: 287px;
  word-wrap: break-word;
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  margin-bottom: 10px;
}

.photo-caption-output {
  display: inline;
  width: 287px;
  word-wrap: break-word;
}

.photo-location {
  width: 230px;
  word-wrap: break-word;
  margin-bottom: 20px;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  margin-bottom: 10px;
}

.photo-location-output {
  width: 230px;
  word-wrap: break-word;
}
.poster-info {
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  width: 100%;
  padding-bottom: 20px;
}

.photo-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.caption-wrap {
  display: inline;
  margin-right: 10px;
}

.photo-info-left {
  float:left;
  display:inline;
  font-weight: bold;
}

.photo-info-right {
  display:inline;
  float:right;
  color: rgba(30,30,30,.4);
}

.profile-username {
  margin-bottom: 5px;
}

.photo-info:after {
  content: "";
  display: table;
  clear: both;
}

.caption {
}


.poster-info-username {
  margin-left: 20px;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;

}

.caption-wrap, .profile-username {
  font-weight: bold;
}

.location-submit, .caption-submit {
  width: 100%;
  cursor:pointer;
  padding: 0, 8px;
  background-color: #3897f0;
  border: 0 solid;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px 0px;
}
