.profile-page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 270px;
  align-items: center;
  background-color: #fafafa;
}

.profile-details {
  height: 230px;
  border: 1px dashed black;
  width:1000px;
}

.profile-photos {
  height: 1000px;
  width:1030px;
}

.profile-index-img {
  width: 312px;
  height: 312px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;

}
.profile-photo-index {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile-photo-index-item {
  float: left;
  height: 312px;
  margin: 15px;
  width: 312px;
  background-color: black;
}

.profile-photo-index-item:last-of-type {
  margin-right: 0;
}

.hover-graphic {
  width:312px;
  height:312px;
  background-color: rgba(0,0,0,0);
  position: absolute;

}
.likes, .comments {
  margin: 20px;
  z-index: 1
}

.index-info {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 20px;
  color: white;
}

.hover-i {
  height: 10px;
  width: 200px;
  z-index: 1
}

.hover-graphic:hover {
  background-color: rgba(0,0,0, .35);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .index-info {
    visibility: visible;
  }
}

.profile-modal {
  width: 935px;
  background-color: white;
  outline: none;
}

.profile-modal-overlay {
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8)
}
